/* start custom scss snippet */
.header__brand {
  & > a {
    font-weight: map-get($base, font-weight-bold);
  }
}

form {
  display: block;
  max-width: 400px;
  padding-bottom: 20px;
  & > label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
  & > input {
    display: block;
    background-color: $main-color-3;
    width: 100%;
    margin-bottom: 20px;
    min-height: 34px;
	padding: 6px 8px;
	line-height: 20px;
	border: 1px solid $text-color-3;
	border-radius: 3px;
	outline: none;
  }
}

.bear {
  display: block;
  max-width: 400px !important;
  margin: {
      left: auto;
      right: auto;
  };
}
/* end custom scss snippet */
